<html>
<head>
<style>
body {background-color: #EFEFEF}
h1 {color: black; text-align: center; font-size: 3em; margin: 50px 0 0}
h2 {color: black; text-align: center; font-size: 1.5em; margin: 10px 0 0}
p {color: black; text-align: center; font-size: 1.2em; margin: 10px 0 0}
.multiverse_img {display: block; margin: 20px auto; width: 50%; border: 2px solid; border-radius: 20px;}

</style>
</head>
<body>
<h1 >The Multiverse</h1>
<h2 >Hello and welcome</h2>
<div>
<img src="https://images.squarespace-cdn.com/content/v1/59778b2ae58c626d8562c154/1517808088080-LFK2O22PO7FD70Q0D7TN/many-worlds-head-625x350.jpg?format=2500w" class="multiverse_img">
</div>
<p>
This would be the only explaination of why grandma is able to tell me her likes
</p>
</body>
</html>